<div id="footer" >
  <div class="container">
    <div class="row">
      <div class="col s12 white-text" align="center">
        <a><%= link_to 'Home', home_path %></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#">Help</a>
      </div>

    </div>
  </div>
  <div class="footer-copyright" align="center">
    <div class="container">
  	Jackie Pan &copy 2016
    </div>
  </div>
</div>