<!-- overall nav -->

  <nav>
    <div class="nav-wrapper">
      <a href="/home" class="brand-logo center">Dog Watcher</a>
      <a href="#" data-activates="collapse" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/animals">Your Pets</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li>Login</li>
      </ul>
    </div>
  </nav>





