<h2> About Dog Watcher </h2>
<p> The project's co-founders are father-daughter team, Jacqueline and Timothy Pan.</p>
<br>

<h3>Jacqueline Pan</h3>
<p><b> Information Systems Senior at Carnegie Mellon University</b><p>
<p> Jackie recently served as President for Alpha Phi Omega Fraternity Kappa Chapter and serves as President for the Asian Students Association.</p>

<h3>Timothy Pan</h3>
<p><b>Hackensack Hospital</b></p>
<p> Tim </p>
